beautifulsoup4==4.13.5
docx==0.2.4
duckduckgo_search==8.1.1
easyocr==1.7.2
gradio==5.45.0
gtts==2.5.4
openai==1.107.2
Pillow==11.3.0
pydub==0.25.1
pypdf==6.0.0
pytchat==0.5.5
pyvts==0.3.3
Requests==2.32.5
torch==2.8.0
trafilatura==2.0.0
whisper==1.1.10
youtube_transcript_api==1.2.2
yt_dlp==2025.9.5
